[Unit]
Description=Multigadget
After=network-online.target
Wants=network-online.target
#After=systemd-modules-load.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/multigadget
 
[Install]
WantedBy=sysinit.target
