[Unit]
Description=Remote desktop service (noVNC)
Requires=vncserver-virtuald.service
After=vncserver-virtuald.service


[Service]
Type=simple
WorkingDirectory=/home/%i
ExecStart=/usr/share/novnc/utils/launch.sh --vnc localhost:5901 --listen 7080

[Install]
WantedBy=multi-user.target
