vanrpi.local, 192.16.0.1 {
  tls internal

  @gadget_host {
    remote_ip forwarded 192.16.0.2
  }

  handle @gadget_host {
    redir /code /code/
    handle_path /code/* {
      reverse_proxy :8080
    }

    redir /vnc /vnc/
    handle_path /vnc/* {
      reverse_proxy * :7080
    }
  }

  respond "Access denied" 403
}
