$HOSTNAME/code/* {
  tls internal

  @gadget_host {
    remote_ip forwarded 192.16.0.2
  }

  handle @gadget_host {
    uri strip_prefix /code
    reverse_proxy 127.0.0.1:8080
  }

  respond "Access denied" 403
}